# Naming Conventions

Demonstrates various naming conventions in coding:

- **Lower Camel Case:** `lowerCamelCase` for variable names.
- **Upper Camel Case (Pascal Case):** `UpperCamelCase` for variable names.
- **Snake Case:** `snake_case` for variable names.
- **Upper Case:** `UPPER_CASE` for constant names.

In [ ]:
# Lower Camel Case
lowerCamelCase = "lower camel case" #* Function like : getUser, getUserName, getUserAge

# Upper Camel Case (Pascal Case)
UpperCamelCase = "upper camel case" #* Class like : User, UserAge, UserAge

# Snake Case
snake_case = "snake case" #* Variable like : user_name, user_id, user_age

# Upper Case
UPPER_CASE = "upper case" #* Constant like : PI = 3.14 , MAX = 1000, MIN = 0

# Type Checking Example

Demonstrates the use of the `type()` function to check the data type of variables.

- int
- str
- list
- bool
- float
- complex
- tuple
- dict
- set

In [1]:
# Example 1: Using type() function
a = 5
b = "Hello"
c = [1, 2, 3]
d = True
e = 3.14
f = 3 + 5j
j = (1, 2, 3)
k = {"name": "John", "age": 36}
m = {1, 2, 3}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(j))
print(type(k))
print(type(m))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'bool'>
<class 'float'>
<class 'complex'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

# Object Identity Example

This code snippet demonstrates the use of the `id()` function in Python to retrieve the identity of different objects. The `id()` function returns a unique identifier for each object, representing its memory address.

- `print(id(i))`: This line prints the identity of the integer object `i`. The identity is a unique number representing the memory location of the integer object.

- `print(id(s))`: This line prints the identity of the string object `s`. Similar to the integer, it shows the unique identifier for the memory location of the string object.

- `print(id(l))`: This line prints the identity of the list object `l`. Again, it shows the unique identifier for the memory location of the list object.

By using the `id()` function, you can observe that different objects have different identities, reflecting their distinct memory locations in the computer's memory.

In [2]:

# Example 2: Using id() function
i = 10
s = "World"
l = [4, 5, 6]

print(id(i))
print(id(s))
print(id(l))

11176008
140010535942000
140010535819520

In [3]:
s1 = s
print(id(s1))
s2 = s[0:]
print(id(s2))

140010535942000
140010535942000

In [4]:

s = "Hello"
print(s)
print(id(s))
print(s1)
print(id(s1))
print(s2)
print(id(s2))

Hello
140010535932464
World
140010535942000
World
140010535942000

In [6]:
l = [1,2,3]
print(l)
l1 = l
print(l1)
l2 = l[:]
print(id(l),id(l1),id(l2))

[1, 2, 3]
[1, 2, 3]
140010535964288 140010535964288 140010535904576

In [8]:
l.append('a')
l1.append('b')
l2.append('c')
print(l,l1,l2)
print(id(l),id(l1),id(l2))

[1, 2, 3, 'a', 'b', 'a', 'b'] [1, 2, 3, 'a', 'b', 'a', 'b'] [1, 2, 3, 'c']
140010535964288 140010535964288 140010535904576


# User Input Example

to get user input in Python, you can use the `input()` function. The `input()` function prompts the user to enter a value, and returns a string value containing the user input.

In [ ]:
name = input("Enter your name: ")
print(name)
print(type(name))

# change variable type example

in this part we change the type of variable from str to int after we get input from user

for this we just need to use `int()` function to change a variable type to int

In [9]:
age = input("Enter your age: ")
print(age)
print(type(age))

age = int(age)
print(age)
print(type(age))

54
<class 'str'>
54
<class 'int'>

# more examples for change variable type

- `int()` for change a variable type to int.
- `str()` for change a variable type to str.
- `float()` for change a variable type to float.
- `bool()` for change a variable type to bool.
- `list()` for change a variable type to list.
- `tuple()` for change a variable type to tuple.
- `set()` for change a variable type to set.
- `dict()` for change a variable type to dict.
- `complex()` for change a variable type to complex.
- `bytes()` for change a variable type to bytes.
- `bytearray()` for change a variable type to bytearray.
- `memoryview()` for change a variable type to memoryview.

In [10]:
string = '1.458'
print(string,type(string),sep='\t->\t')
float_number = float(string)
print(float_number,type(float_number),sep='\t->\t')
integer_number = int(float_number)
print(integer_number,type(integer_number),sep='\t->\t')
boolean = bool(integer_number)
print(boolean,type(boolean),sep='\t->\t')

1.458	->	<class 'str'>
1.458	->	<class 'float'>
1	->	<class 'int'>
True	->	<class 'bool'>

# list data type

for define a list we need to use `[]` and put our items in it.
in python we can use any type of data in a list. for example we can use int, str, float, bool, list, tuple, set, dict, complex, bytes, bytearray, memoryview.

list is a mutable data type. it means we can change it after we define it. for example we can add new items to it or remove items from it. we can also change items in it. 

also list is a itrable data type. it means we can use `for` loop for it. we can also use `while` loop for it.

In [10]:
list_1 = [1, 'ali', 2.5, True]
print(list_1)
print(list_1[1])
print(list_1[-1])
print(list_1[1:])
print(list_1[:2])
print(list_1[::2])
print(list_1[::-1])
list_1[1] = 'reza'
print(list_1)

[1, 'ali', 2.5, True]
ali
True
['ali', 2.5, True]
[1, 'ali']
[1, 2.5]
[True, 2.5, 'ali', 1]
[1, 'reza', 2.5, True]

In [7]:
name1 = 'mohammad'
names = ['amir','bijan','hassan','mehran',name1]
# for name in names:
#     print(name)
# for i in range(5):#->[0,1,2,3,4]
#     print(names[i])
# for i in range(2,5,2):#->[2,4]
#     print(names[i])
# for i in range(0,-5,-1):#->[0,-1,-2,-3,-4]
#     print(i)

0
-1
-2
-3
-4

In [10]:
list_1 = []
list_1.append('amir')
list_1.append('ali')
list_1.append('mohammad')
list_1.append('reza')
print(list_1)

['amir', 'ali', 'mohammad', 'reza']

In [13]:
print(list_1[0])
print(list_1[1])
print(list_1[2])
print(list_1[3])

amir
ali
mohammad
reza